MONGODB_URI="mongodb://localhost:27017"
MONGODB_DB=studiobato-website

SESSION_SECRET=tf+6n/0JRaqrKrH13SuOGnE5T1ugUrfAWummkbeVNUM=
ADMIN_PASSWORD=password

SITE_URL=https://studiobato.org
MEDIA_CDN_URL=https://f003.backblazeb2.com/file/studiobato-assets/
