MONGODB_URI=""
MONGODB_DATABASE_NAME=studiobato-website
SESSION_SECRET=tf+6n/0JRaqrKrH13SuOGnE5T1ugUrfAWummkbeVNUM=
ADMIN_PASSWORD=password
SITE_URL=https://studiobato.com
MEDIA_CDN_URL=https://f003.backblazeb2.com/file/studiobato-assets/
